@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #30313F;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

/* Text Styles */

h1 {
  font-family: "Rubik";
  margin: 0 0 1em 0;
  font-size: 2em;
  font-weight: 200;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.1em;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 1.1em;
  font-weight: 200;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}

h4 {
  text-align: center;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 1.1em;
  font-weight: 200;

}

/* Buttons */

a {
  color: #30313F;
  text-decoration: underline;
}

/* Header */

header {
  height: 100px;
  background: #fff background-size: 1200px 100px;
}

header div.hero {
  position: absolute;
  width: 100%;
  top: 70px;
  text-align: center;
}

header div.hero h1 {
  line-height: 1em;
  margin: 20px 0 20px 0;
}

header div.hero h3 {
  line-height: 1em;
  margin: 20px 0 20px 0;
}

/* Main Section */

section {
  padding: 0 30px;
}

section::after {
  content: '';
display: block;
clear: both;
}

section.main {
  margin-bottom: 30px;
  padding: 0;
}

section.main aside {
  width: 20%;
  float: left;
  text-align: left;
}

section.main .content {
  margin: 30px;
  background: no-repeat left top;
  background-size: 200px 200px;
  padding-top: 75px;
}

section.main aside p a {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #FF3977;
}

img {
  max-width: 200px;
  min-height: 200px;
  border-radius: 2%;
}

/* Social Meedz */

footer {
  display: block;
  text-align: center;
}

.mail {
  background: white;
  border-radius: 50%;
  min-height: 40px;
  max-width: 40px;
  vertical-align: top;
  margin-right: 2px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 50%;
  vertical-align: top;
}

.fa-instagram {
  background: white;
  color: #30313F;
}

.fa-instagram:hover {
  background: white;
  color: #B21D92;
}

.fa-twitter {
  background: white;
  color: #30313F;
}

.fa-twitter:hover {
  background: white;
  color: #55ACEE;
}

.fa-linkedin {
  background: white;
  color: #30313F;
}

.fa-linkedin:hover {
  background: white;
  color: #0077B5;
}

.fa-pinterest {
  background: white;
  color: #30313F;
}

.fa-pinterest:hover {
  background: white;
  color: #BF0112;
}
